.full-width {
  width: 100%;
}

.large-box {
  position: relative;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: auto;
  width: auto;
}

.large-box-input {
  margin: 10px auto;
  padding: 16px;
  border-radius: 8px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-icon {
  margin-right: 8px;
}

.form {
  position: relative;
  width: 500px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

#buttonSubmit {
  margin-left: 90px;
  padding: 10px;
  text-align: center;
}
