<div class="container">
  <mat-tab-group (selectedTabChange)="navigationTo($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">pets</mat-icon>
        {{labelTitle[0]}}
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        {{labelTitle[1]}}
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <mat-form-field class="input">
    <input #box (keyup.enter)="onEnter(box.value)" matInput placeholder="Pesquisar por nome">
  </mat-form-field>

</div>
<router-outlet></router-outlet>
