<div class="container">
  <mat-tab-group (selectedTabChange)="navigationTo($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">pets</mat-icon>
        {{labelTitle[0]}}
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        {{labelTitle[1]}}
      </ng-template>
    </mat-tab>
    <!--
    <div class="large-box-input mat-elevation-z4">

      <form class="form">

        <h3 class="titleInput">PROPRIETÁRIO</h3>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" [formControl]="validatorName">
          <mat-error *ngIf="validatorName.hasError('required')">
            Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="CPF" [formControl]="validatorRaca">
          <mat-error *ngIf="validatorRaca.hasError('required')">
            CPF é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Endereço" [formControl]="validatorAge">
          <mat-error *ngIf="validatorAge.hasError('required')">
            Endereço é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <input matInput placeholder="Telefone" [formControl]="validatorDateBirth">
          <mat-error *ngIf="validatorDateBirth.hasError('required')">
            Telefone é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" id="buttonSubmit">CADASTRAR</button>

      </form>

    </div> -->
  </mat-tab-group>

  <mat-form-field class="input">
    <input #box (keyup.enter)="onEnter(box.value)" matInput placeholder="Pesquisar por nome">
  </mat-form-field>
</div>
<router-outlet></router-outlet>
