<mat-tab-group (selectedTabChange)="navigationTo($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">pets</mat-icon>
      {{labelTitle[0]}}
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      {{labelTitle[1]}}
    </ng-template>
  </mat-tab>
  <mat-tab>
    
    <div class="large-box-input mat-elevation-z4">
      <form class="form">

        <h3 class="titleInput">ANIMAL</h3>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" [formControl]="validatorName">
          <mat-error *ngIf="validatorName.hasError('required')">
            Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Raça" [formControl]="validatorRaca">
          <mat-error *ngIf="validatorRaca.hasError('required')">
            Raça é <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Idade" [formControl]="validatorAge">
          <mat-error *ngIf="validatorAge.hasError('required')">
            Idade é <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <input matInput placeholder="Data de Nascimento" [formControl]="validatorDateBirth">
          <mat-error *ngIf="validatorDateBirth.hasError('required')">
            Data de nascimento é <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" id="buttonSubmit">CADASTRAR</button>

      </form>

      <form class="form">

        <h3 class="titleInput">PROPRIETÁRIO</h3>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" [formControl]="validatorName">
          <mat-error *ngIf="validatorName.hasError('required')">
            Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="CPF" [formControl]="validatorRaca">
          <mat-error *ngIf="validatorRaca.hasError('required')">
            CPF é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Endereço" [formControl]="validatorAge">
          <mat-error *ngIf="validatorAge.hasError('required')">
            Endereço é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <input matInput placeholder="Telefone" [formControl]="validatorDateBirth">
          <mat-error *ngIf="validatorDateBirth.hasError('required')">
            Telefone é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" id="buttonSubmit">CADASTRAR</button>

      </form>

    </div>
  </mat-tab>
</mat-tab-group>

<router-outlet>
</router-outlet>